@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;

    

}

/*  stile struttura della pagina  */
body{
    background-color: white;
    font-family: Roboto, san sarif;
    
}

.container{
    width: 80%;
    margin: 0 auto;
    
    
}

/* stile struttura riga  */
.raw{
    padding: 20px;
    /* text-align: center; */
   
   
}

/* stile struttura box immagine  */
.box-image{
    width: 32%;
    display: inline-block;
    margin: 0 10px;
    position: relative;

}

.box-image img{
    max-width: 100%;
}

.box-image .heart{
    font-size: 20px;
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 40px;
    right: 0;
   
}

.box-image .label{
        color: white;
        padding: 8px;
        z-index: ;
      
}

.sconto {
    background-color: red;
    position: absolute;
    bottom: 120px;
    left: 0;

} /* sconto*/

  
 .sostenibile {
     background-color: green;
     position: absolute;
     bottom: 120px;
     left: 60px;
     
    
} /* prodotto sostenibile*/

/* stile e strutura sottoimmagine */
 .sotto-immagine{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.box-image:hover .sotto-immagine{

z-index: 1;

}

span{
    z-index: 20;
}

/* stile descrizione prodotto */

.marca{
    margin:  0;

}
.modello{
    margin: 0;
}
.prezzo{
    margin: 0;
}
.prezzo_scontato{
    margin: 0;
}



